templates/General Pipeline/General Pipeline.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"linkedLoggingService": {
			"type": "string"
		},
		"AzureBlobStorage1": {
			"type": "string"
		},
		"SqlServer1": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ContractExport')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Adhoc folder oku",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "contract_export_adhoc",
								"type": "DatasetReference"
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "OnlyCSV",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Adhoc folder oku",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Adhoc folder oku').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCSV",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OnlyCSV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Adhoc folder oku').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LoadCSVtoSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "excela/01-contract-export/01-adhoc/",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Warning",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "[parameters('linkedLoggingService')]",
													"type": "LinkedServiceReference"
												},
												"path": "mycontainer/excela/01-contract-export/09-log"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ForEachFile",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "ContractExport_SqlServerTable",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Copy data to archive folder",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LoadCSVtoSQL",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "excela/01-contract-export/01-adhoc",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "contract_export_adhoc",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "contract_export_adhoc_archive",
											"type": "DatasetReference"
										}
									]
								},
								{
									"name": "Delete original",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "Copy data to archive folder",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "contract_export_adhoc",
											"type": "DatasetReference"
										},
										"logStorageSettings": {
											"linkedServiceName": {
												"referenceName": "[parameters('linkedLoggingService')]",
												"type": "LinkedServiceReference"
											}
										},
										"enableLogging": true,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"wildcardFileName": {
												"value": "@item().name",
												"type": "Expression"
											},
											"enablePartitionDiscovery": false
										}
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/contract_export_adhoc')]",
				"[concat(variables('factoryId'), '/datasets/ForEachFile')]",
				"[concat(variables('factoryId'), '/datasets/ContractExport_SqlServerTable')]",
				"[concat(variables('factoryId'), '/datasets/contract_export_adhoc_archive')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/contract_export_adhoc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "excela/01-contract-export/01-adhoc",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Accounting Period",
						"type": "String"
					},
					{
						"name": "Activation Date",
						"type": "String"
					},
					{
						"name": "Agent",
						"type": "String"
					},
					{
						"name": "Alternate Name",
						"type": "String"
					},
					{
						"name": "Amount Financed",
						"type": "String"
					},
					{
						"name": "APR",
						"type": "String"
					},
					{
						"name": "Balloon Amount",
						"type": "String"
					},
					{
						"name": "Billing Date",
						"type": "String"
					},
					{
						"name": "Cancel Amount",
						"type": "String"
					},
					{
						"name": "Cancel Amount (w/out Tax)",
						"type": "String"
					},
					{
						"name": "Cancel Bill Date",
						"type": "String"
					},
					{
						"name": "Cancel Factor %",
						"type": "String"
					},
					{
						"name": "Cancel Method",
						"type": "String"
					},
					{
						"name": "Cancel Reason",
						"type": "String"
					},
					{
						"name": "Cancel Report Date",
						"type": "String"
					},
					{
						"name": "Cancellation Effective Date",
						"type": "String"
					},
					{
						"name": "Cancellation Fee",
						"type": "String"
					},
					{
						"name": "Cancellation Miles",
						"type": "String"
					},
					{
						"name": "Check Date",
						"type": "String"
					},
					{
						"name": "Check Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer Address 1",
						"type": "String"
					},
					{
						"name": "Co-Buyer Address 2",
						"type": "String"
					},
					{
						"name": "Co-Buyer City",
						"type": "String"
					},
					{
						"name": "Co-Buyer Country",
						"type": "String"
					},
					{
						"name": "Co-Buyer Email",
						"type": "String"
					},
					{
						"name": "Co-Buyer First Name",
						"type": "String"
					},
					{
						"name": "Co-Buyer Last Name",
						"type": "String"
					},
					{
						"name": "Co-Buyer Phone Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer Secondary Phone Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer State",
						"type": "String"
					},
					{
						"name": "Co-Buyer Zip Code",
						"type": "String"
					},
					{
						"name": "Contract #",
						"type": "String"
					},
					{
						"name": "Contract Payment Batch Number",
						"type": "String"
					},
					{
						"name": "Contract Status",
						"type": "String"
					},
					{
						"name": "Coverage Code",
						"type": "String"
					},
					{
						"name": "Coverage Name",
						"type": "String"
					},
					{
						"name": "Created By User",
						"type": "String"
					},
					{
						"name": "Culture",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "Customer Address 1",
						"type": "String"
					},
					{
						"name": "Customer Address 2",
						"type": "String"
					},
					{
						"name": "Customer City",
						"type": "String"
					},
					{
						"name": "Customer Country",
						"type": "String"
					},
					{
						"name": "Customer Email",
						"type": "String"
					},
					{
						"name": "Customer First Name",
						"type": "String"
					},
					{
						"name": "Customer Last Name",
						"type": "String"
					},
					{
						"name": "Customer Phone Number",
						"type": "String"
					},
					{
						"name": "Customer Secondary Phone",
						"type": "String"
					},
					{
						"name": "Customer State",
						"type": "String"
					},
					{
						"name": "Customer Write Off Amount",
						"type": "String"
					},
					{
						"name": "Customer Zip Code",
						"type": "String"
					},
					{
						"name": "Deal Number",
						"type": "String"
					},
					{
						"name": "Dealer Address 1",
						"type": "String"
					},
					{
						"name": "Dealer Address 2",
						"type": "String"
					},
					{
						"name": "Dealer City",
						"type": "String"
					},
					{
						"name": "Dealer Country",
						"type": "String"
					},
					{
						"name": "Dealer Name",
						"type": "String"
					},
					{
						"name": "Dealer Number",
						"type": "String"
					},
					{
						"name": "Dealer Remit tax 1",
						"type": "String"
					},
					{
						"name": "Dealer Remit tax 2",
						"type": "String"
					},
					{
						"name": "Dealer State/Province",
						"type": "String"
					},
					{
						"name": "Dealer Zip Code",
						"type": "String"
					},
					{
						"name": "Deductible Amount",
						"type": "String"
					},
					{
						"name": "Effective Date",
						"type": "String"
					},
					{
						"name": "Effective Odometer",
						"type": "String"
					},
					{
						"name": "Entry Date",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Expiration Odometer",
						"type": "String"
					},
					{
						"name": "F&I Manager EID",
						"type": "String"
					},
					{
						"name": "F&I Manager Licence #",
						"type": "String"
					},
					{
						"name": "F&I Manager Name",
						"type": "String"
					},
					{
						"name": "F&I Markup",
						"type": "String"
					},
					{
						"name": "Finance Type",
						"type": "String"
					},
					{
						"name": "Finance/Lease Term",
						"type": "String"
					},
					{
						"name": "First Payment Date",
						"type": "String"
					},
					{
						"name": "In-Service Date",
						"type": "String"
					},
					{
						"name": "Insurance Company",
						"type": "String"
					},
					{
						"name": "Insurance Company Code",
						"type": "String"
					},
					{
						"name": "Invoice",
						"type": "String"
					},
					{
						"name": "Lender",
						"type": "String"
					},
					{
						"name": "Monthly Payment",
						"type": "String"
					},
					{
						"name": "MSRP/NADA",
						"type": "String"
					},
					{
						"name": "Net Cost",
						"type": "String"
					},
					{
						"name": "Paid Claim Deduction",
						"type": "String"
					},
					{
						"name": "Pay Method",
						"type": "String"
					},
					{
						"name": "Payee Type",
						"type": "String"
					},
					{
						"name": "Payment Frequency",
						"type": "String"
					},
					{
						"name": "Product Type",
						"type": "String"
					},
					{
						"name": "Reason",
						"type": "String"
					},
					{
						"name": "Ref. Number",
						"type": "String"
					},
					{
						"name": "Refund From Dealer",
						"type": "String"
					},
					{
						"name": "Refund From TPA",
						"type": "String"
					},
					{
						"name": "Register Ref #",
						"type": "String"
					},
					{
						"name": "Remittance Number",
						"type": "String"
					},
					{
						"name": "Report Group",
						"type": "String"
					},
					{
						"name": "Retail Cost",
						"type": "String"
					},
					{
						"name": "Retail Refund Base",
						"type": "String"
					},
					{
						"name": "Retail Tax 1",
						"type": "String"
					},
					{
						"name": "Retail Tax 2",
						"type": "String"
					},
					{
						"name": "Sale Date",
						"type": "String"
					},
					{
						"name": "Sale Odometer",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					},
					{
						"name": "Status (New Business, Cancellation, Upgrade, Adjustment)",
						"type": "String"
					},
					{
						"name": "Stock Number",
						"type": "String"
					},
					{
						"name": "Submitted Amount",
						"type": "String"
					},
					{
						"name": "Term Mileage",
						"type": "String"
					},
					{
						"name": "Term Month",
						"type": "String"
					},
					{
						"name": "Term Months/Term Distance",
						"type": "String"
					},
					{
						"name": "Tier",
						"type": "String"
					},
					{
						"name": "Total Admin",
						"type": "String"
					},
					{
						"name": "Total Commission",
						"type": "String"
					},
					{
						"name": "Total Dealer Remit Taxes",
						"type": "String"
					},
					{
						"name": "Total Options/Surcharges",
						"type": "String"
					},
					{
						"name": "Total Payments",
						"type": "String"
					},
					{
						"name": "Total Reserves",
						"type": "String"
					},
					{
						"name": "Total Retail Taxes",
						"type": "String"
					},
					{
						"name": "Vehicle Age Type",
						"type": "String"
					},
					{
						"name": "Vehicle Class",
						"type": "String"
					},
					{
						"name": "Vehicle Color",
						"type": "String"
					},
					{
						"name": "Vehicle Make",
						"type": "String"
					},
					{
						"name": "Vehicle Model",
						"type": "String"
					},
					{
						"name": "Vehicle Nitrogen Installed",
						"type": "String"
					},
					{
						"name": "Vehicle Purchase Price",
						"type": "String"
					},
					{
						"name": "Vehicle Year",
						"type": "String"
					},
					{
						"name": "VIN",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.CHEMICAL",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.AGENTNCB",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.ROADSIDE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.BASEADMIN",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.NCBFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.MARKETINGFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.EARLY CLAIM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.SPIFF",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DLROVERREMIT",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DEALERCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.CGRJVCO",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.MGMT FEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM2",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.INCENTIVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.MGMTFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DLRHOLDCO",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM3",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.OWNERSCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.CLIP",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.SURCHARGERESERVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.BASERESERVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.WINDSHIELD RESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.CHEMICAL",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.NCBFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.AGENTNCB",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.ROADSIDE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.EARLY CLAIM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.BASEADMIN",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.MARKETINGFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DLROVERREMIT",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.MGMTFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.INCENTIVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.OWNERSCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM3",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.MGMT FEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM2",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.SPIFF",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DEALERCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.CGRJVCO",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DLRHOLDCO",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.CLIP",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.BASERESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.SURCHARGERESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.WINDSHIELD RESERVE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ForEachFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "excela/01-contract-export/01-adhoc",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContractExport_SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('SqlServer1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AccountingPeriod",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActivationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Agent",
						"type": "varchar"
					},
					{
						"name": "AlternateName",
						"type": "varchar"
					},
					{
						"name": "AmountFinanced",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "APR",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "BalloonAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BillingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancelAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelAmountWithoutTax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelBillDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancelFactorPercent",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "CancelMethod",
						"type": "varchar"
					},
					{
						"name": "CancelReason",
						"type": "varchar"
					},
					{
						"name": "CancelReportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationEffectiveDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationFee",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancellationMiles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CheckDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CheckNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerAddress1",
						"type": "varchar"
					},
					{
						"name": "CoBuyerAddress2",
						"type": "varchar"
					},
					{
						"name": "CoBuyerCity",
						"type": "varchar"
					},
					{
						"name": "CoBuyerCountry",
						"type": "varchar"
					},
					{
						"name": "CoBuyerEmail",
						"type": "varchar"
					},
					{
						"name": "CoBuyerFirstName",
						"type": "varchar"
					},
					{
						"name": "CoBuyerLastName",
						"type": "varchar"
					},
					{
						"name": "CoBuyerPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerSecondaryPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerState",
						"type": "varchar"
					},
					{
						"name": "CoBuyerZipCode",
						"type": "varchar"
					},
					{
						"name": "ContractNumber",
						"type": "varchar"
					},
					{
						"name": "ContractPaymentBatchNumber",
						"type": "varchar"
					},
					{
						"name": "ContractStatus",
						"type": "varchar"
					},
					{
						"name": "CoverageCode",
						"type": "varchar"
					},
					{
						"name": "CoverageName",
						"type": "varchar"
					},
					{
						"name": "CreatedByUser",
						"type": "varchar"
					},
					{
						"name": "Culture",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "CustomerAddress1",
						"type": "varchar"
					},
					{
						"name": "CustomerAddress2",
						"type": "varchar"
					},
					{
						"name": "CustomerCity",
						"type": "varchar"
					},
					{
						"name": "CustomerCountry",
						"type": "varchar"
					},
					{
						"name": "CustomerEmail",
						"type": "varchar"
					},
					{
						"name": "CustomerFirstName",
						"type": "varchar"
					},
					{
						"name": "CustomerLastName",
						"type": "varchar"
					},
					{
						"name": "CustomerPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CustomerSecondaryPhone",
						"type": "varchar"
					},
					{
						"name": "CustomerState",
						"type": "varchar"
					},
					{
						"name": "CustomerWriteOffAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CustomerZipCode",
						"type": "varchar"
					},
					{
						"name": "DealNumber",
						"type": "varchar"
					},
					{
						"name": "DealerAddress1",
						"type": "varchar"
					},
					{
						"name": "DealerAddress2",
						"type": "varchar"
					},
					{
						"name": "DealerCity",
						"type": "varchar"
					},
					{
						"name": "DealerCountry",
						"type": "varchar"
					},
					{
						"name": "DealerName",
						"type": "varchar"
					},
					{
						"name": "DealerNumber",
						"type": "varchar"
					},
					{
						"name": "DealerRemitTax1",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "DealerRemitTax2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "DealerStateProvince",
						"type": "varchar"
					},
					{
						"name": "DealerZipCode",
						"type": "varchar"
					},
					{
						"name": "DeductibleAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "EffectiveDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EffectiveOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EntryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExpirationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExpirationOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FinanceManagerEID",
						"type": "varchar"
					},
					{
						"name": "FinanceManagerLicenseNumber",
						"type": "varchar"
					},
					{
						"name": "FinanceManagerName",
						"type": "varchar"
					},
					{
						"name": "FinanceMarkup",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "FinanceType",
						"type": "varchar"
					},
					{
						"name": "FinanceLeaseTerm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InServiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsuranceCompany",
						"type": "varchar"
					},
					{
						"name": "InsuranceCompanyCode",
						"type": "varchar"
					},
					{
						"name": "Invoice",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Lender",
						"type": "varchar"
					},
					{
						"name": "MonthlyPayment",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "MSRP_NADA",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NetCost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "PaidClaimDeduction",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "PayMethod",
						"type": "varchar"
					},
					{
						"name": "PayeeType",
						"type": "varchar"
					},
					{
						"name": "PaymentFrequency",
						"type": "varchar"
					},
					{
						"name": "ProductType",
						"type": "varchar"
					},
					{
						"name": "Reason",
						"type": "varchar"
					},
					{
						"name": "RefNumber",
						"type": "varchar"
					},
					{
						"name": "RefundFromDealer",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RefundFromTPA",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RegisterRefNumber",
						"type": "varchar"
					},
					{
						"name": "RemittanceNumber",
						"type": "varchar"
					},
					{
						"name": "ReportGroup",
						"type": "varchar"
					},
					{
						"name": "RetailCost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailRefundBase",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailTax1",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailTax2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "SaleDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SaleOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Source",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "StockNumber",
						"type": "varchar"
					},
					{
						"name": "SubmittedAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TermMileage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TermMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TermMonthsDistance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TotalAdmin",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalCommission",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalDealerRemitTaxes",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalOptionsSurcharges",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalPayments",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalReserves",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalRetailTaxes",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "VehicleAgeType",
						"type": "varchar"
					},
					{
						"name": "VehicleClass",
						"type": "varchar"
					},
					{
						"name": "VehicleColor",
						"type": "varchar"
					},
					{
						"name": "VehicleMake",
						"type": "varchar"
					},
					{
						"name": "VehicleModel",
						"type": "varchar"
					},
					{
						"name": "VehicleNitrogenInstalled",
						"type": "varchar"
					},
					{
						"name": "VehiclePurchasePrice",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "VehicleYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VIN",
						"type": "varchar"
					},
					{
						"name": "WrittenAmount_ADMIN_CHEMICAL",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_AGENTNCB",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_ROADSIDE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_BASEADMIN",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_NCBFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_MARKETINGFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_EARLY_CLAIM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_SPIFF",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DLROVERREMIT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DEALERCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_CGRJVCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_MGMT_FEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_INCENTIVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_MGMTFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DLRHOLDCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM3",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_OWNERSCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_CLIP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_SURCHARGERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_BASERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_WINDSHIELD_RESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_CHEMICAL",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_NCBFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_AGENTNCB",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_ROADSIDE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_EARLY_CLAIM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_BASEADMIN",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_MARKETINGFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DLROVERREMIT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_MGMTFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_INCENTIVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_OWNERSCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM3",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_MGMT_FEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_SPIFF",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DEALERCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_CGRJVCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DLRHOLDCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_CLIP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_BASERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_SURCHARGERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_WINDSHIELD_RESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContractExport_RAW"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/contract_export_adhoc_archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureBlobStorage1')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "excela/01-contract-export/04-adhoc-arch",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}