exceladatafactory/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "exceladatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureFileStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureFileStorage1'"
		},
		"AzureSqlDatabase1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'AzureSqlDatabase1'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"linkedLoggingService_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'linkedLoggingService'"
		},
		"ls_func_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'ls_func'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://suatazstorageacc.dfs.core.windows.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "excela-server.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "excela-sandbox-db"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "excela_protect"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "excela-server.database.windows.net"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "excela-sandbox-db"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "excela_protect"
		},
		"ls_func_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://fnapp-excela-datatransform.azurewebsites.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ClaimExport')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Adhoc folder oku",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "contract_export_adhoc",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "OnlyCSV",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Adhoc folder oku",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Adhoc folder oku').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@endswith(item().name, '.csv')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEachCSV",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "OnlyCSV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Adhoc folder oku').output.childItems",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LoadCSVtoSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFolderPath": "excela/01-contract-export/01-adhoc/",
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "SqlServerSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": true,
										"logSettings": {
											"enableCopyActivityLog": true,
											"copyActivityLogSettings": {
												"logLevel": "Warning",
												"enableReliableLogging": false
											},
											"logLocationSettings": {
												"linkedServiceName": {
													"referenceName": "linkedLoggingService",
													"type": "LinkedServiceReference"
												},
												"path": "mycontainer/excela/01-contract-export/09-log"
											}
										},
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ForEachFile",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ContractExport_SqlServerTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/contract_export_adhoc')]",
				"[concat(variables('factoryId'), '/datasets/ForEachFile')]",
				"[concat(variables('factoryId'), '/datasets/ContractExport_SqlServerTable')]",
				"[concat(variables('factoryId'), '/linkedServices/linkedLoggingService')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/QlikPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RunDataFlow",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MonthlyDataTransfer",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceMonthlyExcelFile": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Backup",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "RunDataFlow",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SQLTable",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SaveAsCSV",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DeleteArrivalFile",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Backup",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "MonthlyExcelFile",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "AzureBlobStorage1",
									"type": "LinkedServiceReference"
								}
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/MonthlyDataTransfer')]",
				"[concat(variables('factoryId'), '/datasets/SQLTable')]",
				"[concat(variables('factoryId'), '/datasets/SaveAsCSV')]",
				"[concat(variables('factoryId'), '/datasets/MonthlyExcelFile')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClaimExport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Folder1"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ClaimExport.csv",
						"folderPath": "clam_export",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "*This is the canned report exported from PCRS (export begins on row 5)",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ClaimExportV2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ClaimExport.csv",
						"folderPath": "claim_export_v2",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "*This is the canned report exported from PCRS (export begins on row 5)",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContractExport')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Simulation"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "ContractExport.csv",
						"folderPath": "simulation/PPM Reports",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "*This is the canned report exported from PCRS (export begins on row 5)",
						"type": "String"
					},
					{
						"name": "Prop_1",
						"type": "String"
					},
					{
						"name": "Prop_2",
						"type": "String"
					},
					{
						"name": "Prop_3",
						"type": "String"
					},
					{
						"name": "Prop_4",
						"type": "String"
					},
					{
						"name": "Prop_5",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "Prop_7",
						"type": "String"
					},
					{
						"name": "Prop_8",
						"type": "String"
					},
					{
						"name": "Prop_9",
						"type": "String"
					},
					{
						"name": "Prop_10",
						"type": "String"
					},
					{
						"name": "Prop_11",
						"type": "String"
					},
					{
						"name": "Prop_12",
						"type": "String"
					},
					{
						"name": "Prop_13",
						"type": "String"
					},
					{
						"name": "Prop_14",
						"type": "String"
					},
					{
						"name": "Prop_15",
						"type": "String"
					},
					{
						"name": "Prop_16",
						"type": "String"
					},
					{
						"name": "Prop_17",
						"type": "String"
					},
					{
						"name": "Prop_18",
						"type": "String"
					},
					{
						"name": "Prop_19",
						"type": "String"
					},
					{
						"name": "Prop_20",
						"type": "String"
					},
					{
						"name": "Prop_21",
						"type": "String"
					},
					{
						"name": "Prop_22",
						"type": "String"
					},
					{
						"name": "Prop_23",
						"type": "String"
					},
					{
						"name": "Prop_24",
						"type": "String"
					},
					{
						"name": "Prop_25",
						"type": "String"
					},
					{
						"name": "Prop_26",
						"type": "String"
					},
					{
						"name": "Prop_27",
						"type": "String"
					},
					{
						"name": "Prop_28",
						"type": "String"
					},
					{
						"name": "Prop_29",
						"type": "String"
					},
					{
						"name": "Prop_30",
						"type": "String"
					},
					{
						"name": "Prop_31",
						"type": "String"
					},
					{
						"name": "Prop_32",
						"type": "String"
					},
					{
						"name": "Prop_33",
						"type": "String"
					},
					{
						"name": "Prop_34",
						"type": "String"
					},
					{
						"name": "Prop_35",
						"type": "String"
					},
					{
						"name": "Prop_36",
						"type": "String"
					},
					{
						"name": "Prop_37",
						"type": "String"
					},
					{
						"name": "Prop_38",
						"type": "String"
					},
					{
						"name": "Prop_39",
						"type": "String"
					},
					{
						"name": "Prop_40",
						"type": "String"
					},
					{
						"name": "Prop_41",
						"type": "String"
					},
					{
						"name": "Prop_42",
						"type": "String"
					},
					{
						"name": "Prop_43",
						"type": "String"
					},
					{
						"name": "Prop_44",
						"type": "String"
					},
					{
						"name": "Prop_45",
						"type": "String"
					},
					{
						"name": "Prop_46",
						"type": "String"
					},
					{
						"name": "Prop_47",
						"type": "String"
					},
					{
						"name": "Prop_48",
						"type": "String"
					},
					{
						"name": "Prop_49",
						"type": "String"
					},
					{
						"name": "Prop_50",
						"type": "String"
					},
					{
						"name": "Prop_51",
						"type": "String"
					},
					{
						"name": "Prop_52",
						"type": "String"
					},
					{
						"name": "Prop_53",
						"type": "String"
					},
					{
						"name": "Prop_54",
						"type": "String"
					},
					{
						"name": "Prop_55",
						"type": "String"
					},
					{
						"name": "Prop_56",
						"type": "String"
					},
					{
						"name": "Prop_57",
						"type": "String"
					},
					{
						"name": "Prop_58",
						"type": "String"
					},
					{
						"name": "Prop_59",
						"type": "String"
					},
					{
						"name": "Prop_60",
						"type": "String"
					},
					{
						"name": "Prop_61",
						"type": "String"
					},
					{
						"name": "Prop_62",
						"type": "String"
					},
					{
						"name": "Prop_63",
						"type": "String"
					},
					{
						"name": "Prop_64",
						"type": "String"
					},
					{
						"name": "Prop_65",
						"type": "String"
					},
					{
						"name": "Prop_66",
						"type": "String"
					},
					{
						"name": "Prop_67",
						"type": "String"
					},
					{
						"name": "Prop_68",
						"type": "String"
					},
					{
						"name": "Prop_69",
						"type": "String"
					},
					{
						"name": "Prop_70",
						"type": "String"
					},
					{
						"name": "Prop_71",
						"type": "String"
					},
					{
						"name": "Prop_72",
						"type": "String"
					},
					{
						"name": "Prop_73",
						"type": "String"
					},
					{
						"name": "Prop_74",
						"type": "String"
					},
					{
						"name": "Prop_75",
						"type": "String"
					},
					{
						"name": "Prop_76",
						"type": "String"
					},
					{
						"name": "Prop_77",
						"type": "String"
					},
					{
						"name": "Prop_78",
						"type": "String"
					},
					{
						"name": "Prop_79",
						"type": "String"
					},
					{
						"name": "Prop_80",
						"type": "String"
					},
					{
						"name": "Prop_81",
						"type": "String"
					},
					{
						"name": "Prop_82",
						"type": "String"
					},
					{
						"name": "Prop_83",
						"type": "String"
					},
					{
						"name": "Prop_84",
						"type": "String"
					},
					{
						"name": "Prop_85",
						"type": "String"
					},
					{
						"name": "Prop_86",
						"type": "String"
					},
					{
						"name": "Prop_87",
						"type": "String"
					},
					{
						"name": "Prop_88",
						"type": "String"
					},
					{
						"name": "Prop_89",
						"type": "String"
					},
					{
						"name": "Prop_90",
						"type": "String"
					},
					{
						"name": "Prop_91",
						"type": "String"
					},
					{
						"name": "Prop_92",
						"type": "String"
					},
					{
						"name": "Prop_93",
						"type": "String"
					},
					{
						"name": "Prop_94",
						"type": "String"
					},
					{
						"name": "Prop_95",
						"type": "String"
					},
					{
						"name": "Prop_96",
						"type": "String"
					},
					{
						"name": "Prop_97",
						"type": "String"
					},
					{
						"name": "Prop_98",
						"type": "String"
					},
					{
						"name": "Prop_99",
						"type": "String"
					},
					{
						"name": "Prop_100",
						"type": "String"
					},
					{
						"name": "Prop_101",
						"type": "String"
					},
					{
						"name": "Prop_102",
						"type": "String"
					},
					{
						"name": "Prop_103",
						"type": "String"
					},
					{
						"name": "Prop_104",
						"type": "String"
					},
					{
						"name": "Prop_105",
						"type": "String"
					},
					{
						"name": "Prop_106",
						"type": "String"
					},
					{
						"name": "Prop_107",
						"type": "String"
					},
					{
						"name": "Prop_108",
						"type": "String"
					},
					{
						"name": "Prop_109",
						"type": "String"
					},
					{
						"name": "Prop_110",
						"type": "String"
					},
					{
						"name": "Prop_111",
						"type": "String"
					},
					{
						"name": "Prop_112",
						"type": "String"
					},
					{
						"name": "Prop_113",
						"type": "String"
					},
					{
						"name": "Prop_114",
						"type": "String"
					},
					{
						"name": "Prop_115",
						"type": "String"
					},
					{
						"name": "Prop_116",
						"type": "String"
					},
					{
						"name": "Prop_117",
						"type": "String"
					},
					{
						"name": "Prop_118",
						"type": "String"
					},
					{
						"name": "Prop_119",
						"type": "String"
					},
					{
						"name": "Prop_120",
						"type": "String"
					},
					{
						"name": "Prop_121",
						"type": "String"
					},
					{
						"name": "Prop_122",
						"type": "String"
					},
					{
						"name": "Prop_123",
						"type": "String"
					},
					{
						"name": "Prop_124",
						"type": "String"
					},
					{
						"name": "Prop_125",
						"type": "String"
					},
					{
						"name": "Prop_126",
						"type": "String"
					},
					{
						"name": "Prop_127",
						"type": "String"
					},
					{
						"name": "Prop_128",
						"type": "String"
					},
					{
						"name": "Prop_129",
						"type": "String"
					},
					{
						"name": "Prop_130",
						"type": "String"
					},
					{
						"name": "Prop_131",
						"type": "String"
					},
					{
						"name": "Prop_132",
						"type": "String"
					},
					{
						"name": "Prop_133",
						"type": "String"
					},
					{
						"name": "Prop_134",
						"type": "String"
					},
					{
						"name": "Prop_135",
						"type": "String"
					},
					{
						"name": "Prop_136",
						"type": "String"
					},
					{
						"name": "Prop_137",
						"type": "String"
					},
					{
						"name": "Prop_138",
						"type": "String"
					},
					{
						"name": "Prop_139",
						"type": "String"
					},
					{
						"name": "Prop_140",
						"type": "String"
					},
					{
						"name": "Prop_141",
						"type": "String"
					},
					{
						"name": "Prop_142",
						"type": "String"
					},
					{
						"name": "Prop_143",
						"type": "String"
					},
					{
						"name": "Prop_144",
						"type": "String"
					},
					{
						"name": "Prop_145",
						"type": "String"
					},
					{
						"name": "Prop_146",
						"type": "String"
					},
					{
						"name": "Prop_147",
						"type": "String"
					},
					{
						"name": "Prop_148",
						"type": "String"
					},
					{
						"name": "Prop_149",
						"type": "String"
					},
					{
						"name": "Prop_150",
						"type": "String"
					},
					{
						"name": "Prop_151",
						"type": "String"
					},
					{
						"name": "Prop_152",
						"type": "String"
					},
					{
						"name": "Prop_153",
						"type": "String"
					},
					{
						"name": "Prop_154",
						"type": "String"
					},
					{
						"name": "Prop_155",
						"type": "String"
					},
					{
						"name": "Prop_156",
						"type": "String"
					},
					{
						"name": "Prop_157",
						"type": "String"
					},
					{
						"name": "Prop_158",
						"type": "String"
					},
					{
						"name": "Prop_159",
						"type": "String"
					},
					{
						"name": "Prop_160",
						"type": "String"
					},
					{
						"name": "Prop_161",
						"type": "String"
					},
					{
						"name": "Prop_162",
						"type": "String"
					},
					{
						"name": "Prop_163",
						"type": "String"
					},
					{
						"name": "Prop_164",
						"type": "String"
					},
					{
						"name": "Prop_165",
						"type": "String"
					},
					{
						"name": "Prop_166",
						"type": "String"
					},
					{
						"name": "Prop_167",
						"type": "String"
					},
					{
						"name": "Prop_168",
						"type": "String"
					},
					{
						"name": "Prop_169",
						"type": "String"
					},
					{
						"name": "Prop_170",
						"type": "String"
					},
					{
						"name": "Prop_171",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContractExport_SqlServerTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "AccountingPeriod",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ActivationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Agent",
						"type": "varchar"
					},
					{
						"name": "AlternateName",
						"type": "varchar"
					},
					{
						"name": "AmountFinanced",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "APR",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "BalloonAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "BillingDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancelAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelAmountWithoutTax",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelBillDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancelFactorPercent",
						"type": "decimal",
						"precision": 5,
						"scale": 2
					},
					{
						"name": "CancelMethod",
						"type": "varchar"
					},
					{
						"name": "CancelReason",
						"type": "varchar"
					},
					{
						"name": "CancelReportDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationEffectiveDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CancellationFee",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancellationMiles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CheckDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CheckNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerAddress1",
						"type": "varchar"
					},
					{
						"name": "CoBuyerAddress2",
						"type": "varchar"
					},
					{
						"name": "CoBuyerCity",
						"type": "varchar"
					},
					{
						"name": "CoBuyerCountry",
						"type": "varchar"
					},
					{
						"name": "CoBuyerEmail",
						"type": "varchar"
					},
					{
						"name": "CoBuyerFirstName",
						"type": "varchar"
					},
					{
						"name": "CoBuyerLastName",
						"type": "varchar"
					},
					{
						"name": "CoBuyerPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerSecondaryPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CoBuyerState",
						"type": "varchar"
					},
					{
						"name": "CoBuyerZipCode",
						"type": "varchar"
					},
					{
						"name": "ContractNumber",
						"type": "varchar"
					},
					{
						"name": "ContractPaymentBatchNumber",
						"type": "varchar"
					},
					{
						"name": "ContractStatus",
						"type": "varchar"
					},
					{
						"name": "CoverageCode",
						"type": "varchar"
					},
					{
						"name": "CoverageName",
						"type": "varchar"
					},
					{
						"name": "CreatedByUser",
						"type": "varchar"
					},
					{
						"name": "Culture",
						"type": "varchar"
					},
					{
						"name": "Currency",
						"type": "varchar"
					},
					{
						"name": "CustomerAddress1",
						"type": "varchar"
					},
					{
						"name": "CustomerAddress2",
						"type": "varchar"
					},
					{
						"name": "CustomerCity",
						"type": "varchar"
					},
					{
						"name": "CustomerCountry",
						"type": "varchar"
					},
					{
						"name": "CustomerEmail",
						"type": "varchar"
					},
					{
						"name": "CustomerFirstName",
						"type": "varchar"
					},
					{
						"name": "CustomerLastName",
						"type": "varchar"
					},
					{
						"name": "CustomerPhoneNumber",
						"type": "varchar"
					},
					{
						"name": "CustomerSecondaryPhone",
						"type": "varchar"
					},
					{
						"name": "CustomerState",
						"type": "varchar"
					},
					{
						"name": "CustomerWriteOffAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CustomerZipCode",
						"type": "varchar"
					},
					{
						"name": "DealNumber",
						"type": "varchar"
					},
					{
						"name": "DealerAddress1",
						"type": "varchar"
					},
					{
						"name": "DealerAddress2",
						"type": "varchar"
					},
					{
						"name": "DealerCity",
						"type": "varchar"
					},
					{
						"name": "DealerCountry",
						"type": "varchar"
					},
					{
						"name": "DealerName",
						"type": "varchar"
					},
					{
						"name": "DealerNumber",
						"type": "varchar"
					},
					{
						"name": "DealerRemitTax1",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "DealerRemitTax2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "DealerStateProvince",
						"type": "varchar"
					},
					{
						"name": "DealerZipCode",
						"type": "varchar"
					},
					{
						"name": "DeductibleAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "EffectiveDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "EffectiveOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EntryDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExpirationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "ExpirationOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FinanceManagerEID",
						"type": "varchar"
					},
					{
						"name": "FinanceManagerLicenseNumber",
						"type": "varchar"
					},
					{
						"name": "FinanceManagerName",
						"type": "varchar"
					},
					{
						"name": "FinanceMarkup",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "FinanceType",
						"type": "varchar"
					},
					{
						"name": "FinanceLeaseTerm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FirstPaymentDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InServiceDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "InsuranceCompany",
						"type": "varchar"
					},
					{
						"name": "InsuranceCompanyCode",
						"type": "varchar"
					},
					{
						"name": "Invoice",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "Lender",
						"type": "varchar"
					},
					{
						"name": "MonthlyPayment",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "MSRP_NADA",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "NetCost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "PaidClaimDeduction",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "PayMethod",
						"type": "varchar"
					},
					{
						"name": "PayeeType",
						"type": "varchar"
					},
					{
						"name": "PaymentFrequency",
						"type": "varchar"
					},
					{
						"name": "ProductType",
						"type": "varchar"
					},
					{
						"name": "Reason",
						"type": "varchar"
					},
					{
						"name": "RefNumber",
						"type": "varchar"
					},
					{
						"name": "RefundFromDealer",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RefundFromTPA",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RegisterRefNumber",
						"type": "varchar"
					},
					{
						"name": "RemittanceNumber",
						"type": "varchar"
					},
					{
						"name": "ReportGroup",
						"type": "varchar"
					},
					{
						"name": "RetailCost",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailRefundBase",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailTax1",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "RetailTax2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "SaleDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "SaleOdometer",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Source",
						"type": "varchar"
					},
					{
						"name": "Status",
						"type": "varchar"
					},
					{
						"name": "StockNumber",
						"type": "varchar"
					},
					{
						"name": "SubmittedAmount",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TermMileage",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TermMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TermMonthsDistance",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Tier",
						"type": "varchar"
					},
					{
						"name": "TotalAdmin",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalCommission",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalDealerRemitTaxes",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalOptionsSurcharges",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalPayments",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalReserves",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "TotalRetailTaxes",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "VehicleAgeType",
						"type": "varchar"
					},
					{
						"name": "VehicleClass",
						"type": "varchar"
					},
					{
						"name": "VehicleColor",
						"type": "varchar"
					},
					{
						"name": "VehicleMake",
						"type": "varchar"
					},
					{
						"name": "VehicleModel",
						"type": "varchar"
					},
					{
						"name": "VehicleNitrogenInstalled",
						"type": "varchar"
					},
					{
						"name": "VehiclePurchasePrice",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "VehicleYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "VIN",
						"type": "varchar"
					},
					{
						"name": "WrittenAmount_ADMIN_CHEMICAL",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_AGENTNCB",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_ROADSIDE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_BASEADMIN",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_NCBFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_MARKETINGFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_ADMIN_EARLY_CLAIM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_SPIFF",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DLROVERREMIT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DEALERCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_CGRJVCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_MGMT_FEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_INCENTIVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_MGMTFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_DLRHOLDCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_AGENTCOMM3",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_COMMISSION_OWNERSCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_CLIP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_SURCHARGERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_BASERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "WrittenAmount_RESERVE_WINDSHIELD_RESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_CHEMICAL",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_NCBFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_AGENTNCB",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_ROADSIDE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_EARLY_CLAIM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_BASEADMIN",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_ADMIN_MARKETINGFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DLROVERREMIT",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_MGMTFEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_INCENTIVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_OWNERSCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM3",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_MGMT_FEE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_SPIFF",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DEALERCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_CGRJVCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_AGENTCOMM",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_COMMISSION_DLRHOLDCO",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_CLIP",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_BASERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_SURCHARGERESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "CancelledAmount_RESERVE_WINDSHIELD_RESERVE",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ContractExport_RAW"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ForEachFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "excela/01-contract-export/01-adhoc",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonthlyExcelFile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "thismonth.xlsx",
						"folderPath": "qlik/monthly-arrival",
						"container": "mycontainer"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Store",
						"type": "String"
					},
					{
						"name": "Yr Make Model",
						"type": "String"
					},
					{
						"name": "Miles",
						"type": "String"
					},
					{
						"name": "Customer",
						"type": "String"
					},
					{
						"name": "Sales ()",
						"type": "String"
					},
					{
						"name": "Date",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Store",
						"type": "varchar"
					},
					{
						"name": "YrMakeModel",
						"type": "varchar"
					},
					{
						"name": "Miles",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer",
						"type": "varchar"
					},
					{
						"name": "Sales",
						"type": "decimal",
						"precision": 10,
						"scale": 3
					},
					{
						"name": "SaleDate",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "QlikMonthlyCumulative"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SaveAsCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "qlik/monthly-ingested",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/contract_export_adhoc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "excela/01-contract-export/01-adhoc",
						"container": "mycontainer"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Accounting Period",
						"type": "String"
					},
					{
						"name": "Activation Date",
						"type": "String"
					},
					{
						"name": "Agent",
						"type": "String"
					},
					{
						"name": "Alternate Name",
						"type": "String"
					},
					{
						"name": "Amount Financed",
						"type": "String"
					},
					{
						"name": "APR",
						"type": "String"
					},
					{
						"name": "Balloon Amount",
						"type": "String"
					},
					{
						"name": "Billing Date",
						"type": "String"
					},
					{
						"name": "Cancel Amount",
						"type": "String"
					},
					{
						"name": "Cancel Amount (w/out Tax)",
						"type": "String"
					},
					{
						"name": "Cancel Bill Date",
						"type": "String"
					},
					{
						"name": "Cancel Factor %",
						"type": "String"
					},
					{
						"name": "Cancel Method",
						"type": "String"
					},
					{
						"name": "Cancel Reason",
						"type": "String"
					},
					{
						"name": "Cancel Report Date",
						"type": "String"
					},
					{
						"name": "Cancellation Effective Date",
						"type": "String"
					},
					{
						"name": "Cancellation Fee",
						"type": "String"
					},
					{
						"name": "Cancellation Miles",
						"type": "String"
					},
					{
						"name": "Check Date",
						"type": "String"
					},
					{
						"name": "Check Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer Address 1",
						"type": "String"
					},
					{
						"name": "Co-Buyer Address 2",
						"type": "String"
					},
					{
						"name": "Co-Buyer City",
						"type": "String"
					},
					{
						"name": "Co-Buyer Country",
						"type": "String"
					},
					{
						"name": "Co-Buyer Email",
						"type": "String"
					},
					{
						"name": "Co-Buyer First Name",
						"type": "String"
					},
					{
						"name": "Co-Buyer Last Name",
						"type": "String"
					},
					{
						"name": "Co-Buyer Phone Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer Secondary Phone Number",
						"type": "String"
					},
					{
						"name": "Co-Buyer State",
						"type": "String"
					},
					{
						"name": "Co-Buyer Zip Code",
						"type": "String"
					},
					{
						"name": "Contract #",
						"type": "String"
					},
					{
						"name": "Contract Payment Batch Number",
						"type": "String"
					},
					{
						"name": "Contract Status",
						"type": "String"
					},
					{
						"name": "Coverage Code",
						"type": "String"
					},
					{
						"name": "Coverage Name",
						"type": "String"
					},
					{
						"name": "Created By User",
						"type": "String"
					},
					{
						"name": "Culture",
						"type": "String"
					},
					{
						"name": "Currency",
						"type": "String"
					},
					{
						"name": "Customer Address 1",
						"type": "String"
					},
					{
						"name": "Customer Address 2",
						"type": "String"
					},
					{
						"name": "Customer City",
						"type": "String"
					},
					{
						"name": "Customer Country",
						"type": "String"
					},
					{
						"name": "Customer Email",
						"type": "String"
					},
					{
						"name": "Customer First Name",
						"type": "String"
					},
					{
						"name": "Customer Last Name",
						"type": "String"
					},
					{
						"name": "Customer Phone Number",
						"type": "String"
					},
					{
						"name": "Customer Secondary Phone",
						"type": "String"
					},
					{
						"name": "Customer State",
						"type": "String"
					},
					{
						"name": "Customer Write Off Amount",
						"type": "String"
					},
					{
						"name": "Customer Zip Code",
						"type": "String"
					},
					{
						"name": "Deal Number",
						"type": "String"
					},
					{
						"name": "Dealer Address 1",
						"type": "String"
					},
					{
						"name": "Dealer Address 2",
						"type": "String"
					},
					{
						"name": "Dealer City",
						"type": "String"
					},
					{
						"name": "Dealer Country",
						"type": "String"
					},
					{
						"name": "Dealer Name",
						"type": "String"
					},
					{
						"name": "Dealer Number",
						"type": "String"
					},
					{
						"name": "Dealer Remit tax 1",
						"type": "String"
					},
					{
						"name": "Dealer Remit tax 2",
						"type": "String"
					},
					{
						"name": "Dealer State/Province",
						"type": "String"
					},
					{
						"name": "Dealer Zip Code",
						"type": "String"
					},
					{
						"name": "Deductible Amount",
						"type": "String"
					},
					{
						"name": "Effective Date",
						"type": "String"
					},
					{
						"name": "Effective Odometer",
						"type": "String"
					},
					{
						"name": "Entry Date",
						"type": "String"
					},
					{
						"name": "Expiration Date",
						"type": "String"
					},
					{
						"name": "Expiration Odometer",
						"type": "String"
					},
					{
						"name": "F&I Manager EID",
						"type": "String"
					},
					{
						"name": "F&I Manager Licence #",
						"type": "String"
					},
					{
						"name": "F&I Manager Name",
						"type": "String"
					},
					{
						"name": "F&I Markup",
						"type": "String"
					},
					{
						"name": "Finance Type",
						"type": "String"
					},
					{
						"name": "Finance/Lease Term",
						"type": "String"
					},
					{
						"name": "First Payment Date",
						"type": "String"
					},
					{
						"name": "In-Service Date",
						"type": "String"
					},
					{
						"name": "Insurance Company",
						"type": "String"
					},
					{
						"name": "Insurance Company Code",
						"type": "String"
					},
					{
						"name": "Invoice",
						"type": "String"
					},
					{
						"name": "Lender",
						"type": "String"
					},
					{
						"name": "Monthly Payment",
						"type": "String"
					},
					{
						"name": "MSRP/NADA",
						"type": "String"
					},
					{
						"name": "Net Cost",
						"type": "String"
					},
					{
						"name": "Paid Claim Deduction",
						"type": "String"
					},
					{
						"name": "Pay Method",
						"type": "String"
					},
					{
						"name": "Payee Type",
						"type": "String"
					},
					{
						"name": "Payment Frequency",
						"type": "String"
					},
					{
						"name": "Product Type",
						"type": "String"
					},
					{
						"name": "Reason",
						"type": "String"
					},
					{
						"name": "Ref. Number",
						"type": "String"
					},
					{
						"name": "Refund From Dealer",
						"type": "String"
					},
					{
						"name": "Refund From TPA",
						"type": "String"
					},
					{
						"name": "Register Ref #",
						"type": "String"
					},
					{
						"name": "Remittance Number",
						"type": "String"
					},
					{
						"name": "Report Group",
						"type": "String"
					},
					{
						"name": "Retail Cost",
						"type": "String"
					},
					{
						"name": "Retail Refund Base",
						"type": "String"
					},
					{
						"name": "Retail Tax 1",
						"type": "String"
					},
					{
						"name": "Retail Tax 2",
						"type": "String"
					},
					{
						"name": "Sale Date",
						"type": "String"
					},
					{
						"name": "Sale Odometer",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					},
					{
						"name": "Status (New Business, Cancellation, Upgrade, Adjustment)",
						"type": "String"
					},
					{
						"name": "Stock Number",
						"type": "String"
					},
					{
						"name": "Submitted Amount",
						"type": "String"
					},
					{
						"name": "Term Mileage",
						"type": "String"
					},
					{
						"name": "Term Month",
						"type": "String"
					},
					{
						"name": "Term Months/Term Distance",
						"type": "String"
					},
					{
						"name": "Tier",
						"type": "String"
					},
					{
						"name": "Total Admin",
						"type": "String"
					},
					{
						"name": "Total Commission",
						"type": "String"
					},
					{
						"name": "Total Dealer Remit Taxes",
						"type": "String"
					},
					{
						"name": "Total Options/Surcharges",
						"type": "String"
					},
					{
						"name": "Total Payments",
						"type": "String"
					},
					{
						"name": "Total Reserves",
						"type": "String"
					},
					{
						"name": "Total Retail Taxes",
						"type": "String"
					},
					{
						"name": "Vehicle Age Type",
						"type": "String"
					},
					{
						"name": "Vehicle Class",
						"type": "String"
					},
					{
						"name": "Vehicle Color",
						"type": "String"
					},
					{
						"name": "Vehicle Make",
						"type": "String"
					},
					{
						"name": "Vehicle Model",
						"type": "String"
					},
					{
						"name": "Vehicle Nitrogen Installed",
						"type": "String"
					},
					{
						"name": "Vehicle Purchase Price",
						"type": "String"
					},
					{
						"name": "Vehicle Year",
						"type": "String"
					},
					{
						"name": "VIN",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.CHEMICAL",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.AGENTNCB",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.ROADSIDE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.BASEADMIN",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.NCBFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.MARKETINGFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.ADMIN.EARLY CLAIM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.SPIFF",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DLROVERREMIT",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DEALERCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.CGRJVCO",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.MGMT FEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM2",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.INCENTIVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.MGMTFEE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.DLRHOLDCO",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.AGENTCOMM3",
						"type": "String"
					},
					{
						"name": "WrittenAmount.COMMISSION.OWNERSCOMM",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.CLIP",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.SURCHARGERESERVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.BASERESERVE",
						"type": "String"
					},
					{
						"name": "WrittenAmount.RESERVE.WINDSHIELD RESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.CHEMICAL",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.NCBFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.AGENTNCB",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.ROADSIDE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.EARLY CLAIM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.BASEADMIN",
						"type": "String"
					},
					{
						"name": "CancelledAmount.ADMIN.MARKETINGFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DLROVERREMIT",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.MGMTFEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.INCENTIVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.OWNERSCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM3",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.MGMT FEE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM2",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.SPIFF",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DEALERCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.CGRJVCO",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.AGENTCOMM",
						"type": "String"
					},
					{
						"name": "CancelledAmount.COMMISSION.DLRHOLDCO",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.CLIP",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.BASERESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.SURCHARGERESERVE",
						"type": "String"
					},
					{
						"name": "CancelledAmount.RESERVE.WINDSHIELD RESERVE",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ADLS for files",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureFileStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFileStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureFileStorage1_connectionString')]",
					"fileShare": "evdemog"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('AzureSqlDatabase1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/linkedLoggingService')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('linkedLoggingService_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_func')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked Service (ls) for Funcs",
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('ls_func_properties_typeProperties_functionAppUrl')]",
					"authentication": "Anonymous",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('ls_func_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ContractExportPowerQuery')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ContractExport",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ContractExport",
							"dataset": {
								"referenceName": "ContractExport",
								"type": "DatasetReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ContractExport')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/MonthlyDataTransfer')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "MonthlyExcelFile",
								"type": "DatasetReference"
							},
							"name": "sourceMonthlyExcelFile"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQLTable",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "SelectRelevantColumnsAndRename"
						},
						{
							"name": "typeTransform"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Store as string,",
						"          {Yr Make Model} as string,",
						"          Miles as string,",
						"          Customer as string,",
						"          {Sales ()} as string,",
						"          Date as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourceMonthlyExcelFile",
						"sourceMonthlyExcelFile select(mapColumn(",
						"          Store,",
						"          YrMakeModel = {Yr Make Model},",
						"          Miles,",
						"          Customer,",
						"          Sales = {Sales ()},",
						"          Date",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> SelectRelevantColumnsAndRename",
						"SelectRelevantColumnsAndRename derive(Sales = toInteger(Sales),",
						"          Date = addDays(toDate('1900-01-01'), toInteger(Date) - 2)) ~> typeTransform",
						"typeTransform sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          Store as string,",
						"          YrMakeModel as string,",
						"          Miles as integer,",
						"          Customer as string,",
						"          Sales as decimal(10,3),",
						"          SaleDate as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          Store,",
						"          YrMakeModel,",
						"          Customer,",
						"          Sales",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/MonthlyExcelFile')]",
				"[concat(variables('factoryId'), '/datasets/SQLTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/powerquery1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ClaimExport",
							"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> ClaimExport",
							"dataset": {
								"referenceName": "ClaimExport",
								"type": "DatasetReference"
							}
						}
					],
					"script": "section Section1;\r\nshared ClaimExport = let AdfDoc = AzureStorage.BlobContents(\"https://suatazstorageacc.blob.core.windows.net/mycontainer/clam_export/ClaimExport.csv\"),Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv]), PromotedHeaders = Table.PromoteHeaders(Csv, [PromoteAllScalars = true]) in  PromotedHeaders;\r\nshared UserQuery = let Source = #\"ClaimExport\",\r\n  #\"Filtered rows\" = Table.SelectRows(Source, each [#\"*This is the canned report exported from PCRS (export begins on row 5)\"] <> null and [#\"*This is the canned report exported from PCRS (export begins on row 5)\"] <> \"\"),\r\n  #\"Removed top rows\" = Table.Skip(#\"Filtered rows\", 2),\r\n  #\"Filtered rows 1\" = Table.SelectRows(#\"Removed top rows\", each Text.Contains([#\"*This is the canned report exported from PCRS (export begins on row 5)\"], \"CL\")),\r\n  #\"Grouped rows\" = Table.Group(#\"Filtered rows 1\", {\"_10\"}, {{\"Count\", each Table.RowCount(_), Int64.Type}}) in #\"Grouped rows\";\r\n",
					"documentLocale": "en-us"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ClaimExport')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ClaimExport",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-01-07T22:36:00",
						"endTime": "2025-01-10T19:32:00",
						"timeZone": "Turkey Standard Time",
						"schedule": {
							"minutes": [
								50
							],
							"hours": [
								22
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ClaimExport')]"
			]
		}
	]
}